.login-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: transparent; /* Set background to transparent */
}

.login-content {
  display: flex;
  align-items: center;
  
  flex-direction: column;
  background-color: #f9f9f9; /* Light gray background */
  padding: 30px; /* Increased padding for better spacing */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.title {
  margin-bottom: 20px; /* Increased margin for spacing */
  font-size: 35px; /* Larger font size for title */
  font-weight: bold; /* Make the text bold */
  color: #333; /* Darker text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  transition: color 0.3s; /* Smooth transition for color */
}

.title:hover {
  color: #007bff; /* Change color on hover */
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; /* Added margin between input fields */
  border: none; /* Remove border */
  border-radius: 20px; /* Oval shape */
  background-color: #f2f2f2; /* Light gray background */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: all 0.3s; /* Smooth transition for all properties */
}

.input-field:focus {
  outline: none; /* Remove outline on focus */
  background-color: #fff; /* White background on focus */
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on focus */
}

.sign-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px; /* Added margin between button and text */
  background-color: #007bff; /* Blue button background */
  color: white; /* White text color */
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s; /* Smooth transition for all properties */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.sign-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Move the button slightly up */
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.signup-link {
  color: #007bff; /* Blue color for signup link */
  cursor: pointer;
}

.signup-link:hover {
  text-decoration: underline; /* Underline on hover */
}