.posts{
    top: 100px;
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 206px;
}


.header2 {

    font-size: 40px;
    margin-left: 229px;
    
  }
  .header1 {
    font-family: "Lora", serif;
    color:  #6b9080ff; /* Viridian background color */
    ;
  }
  