.profile {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #36454f;
    padding: 20px 10px;
    color: white;
    .title {
      font-weight: bold;
      color: white;
    }
  }
  .basic {
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
  }
  .employee {
    display: flex;
    flex-direction: row;
    word-wrap: normal;
    padding: 20px 10px;
    justify-content: space-between;
    .card {
      padding: 10px 0;
    }
  }
  .projects {
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
    justify-content: space-between;
  }
  .socials {
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
    justify-content: space-between;
  }
}
