.post-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: black;
}

.post-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(192, 186, 186);
  padding: 20px 50px;
  gap: 10px;
}

.input-field {
  padding: 5px 10px;
}
