.postsContainer1 {
  margin-top: 100px; /* Adjust as needed */
}

.posts1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns of equal width */
  gap: 20px; /* Gap between grid items */
  margin:  20px; /* Adjust margin as needed */
  margin-left: 1;
}

/* Adjust styling for each Propost item */
.Propost1 {
  width: 100%; /* Full width of grid cell */
}

.header21{
  font-size: 40px;
  margin-left: 50px; /* Adjust margin as needed */
}

.header11 {
  font-family: "Lora", serif;
  color: #6b9080ff; /* Viridian background color */
}
